body {
    background-color: #ffd166;
    font-weight: bold;
}

.display-5 {
    margin: 2rem 0;
}

#map {
    height: 400px;
    width: 100%;
}

#buscar,
#ruta {
    font-weight: bold;
    margin: 0.2rem;
}